.post-jobs{
    margin-bottom: 140px;
    padding: 70px 105px 140px 105px;
    background: #000;
    color: #fff;
}

.pj-heading{
    text-align: center;
}

.pj-heading h1{
    margin: 0px;
    font-size: 270px;
    font-family: Founders Grotesk,sans-serif;
}

.pj-heading span{
    position: absolute;
}

.pj-heading p{
    margin-bottom: 95px;
    font-size: 30px;
}

.pj-content{
    display: flex;
    flex-direction: row;
}

.pj-desc-p{
    margin: 0px 0px 40px 0px;
    font-size: 24px;
}

.pj-companies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pj-companies a{
    text-align: center;
    margin: 0px 12px 45px;
    font-size: 12px;
}

.pj-companies img{
    width: 70px;
    height: 70px;
    margin: 0px 8px;
}

.pj-companies p{
    margin: 0px;
}