.navbar{
    height: 56px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 1px 5px rgb(0 0 0 / 1%);
}

.navbar-content{
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
}

.nvbc-item-con{
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
}

.nav-icon-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links-con{
    margin: 10px;
    font-size: 12px;
    color: #666;
    display: flex;
    flex-direction: row;
}

.nav-links-con >  div{
    padding: 0px 13px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.nav-icon{
    margin: 0px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.search-input{
    width: 100px;
    border: none;
}

.link{
    color: #3078CA;
    cursor: pointer;
    font-size: 16px;
}

.link:hover{
    text-decoration: underline;
}
.nav-right{
    border-left: 1px solid rgba(0,0,0,.08);
    padding-left: 10px;
}