html,
body {
  margin: 0;
  font-family: sans-serif;
}

.main {
  margin: 0px 105px;
}

button{
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin-top: 14px;
}

button:hover {
  filter: brightness(85%);
}

.twocolumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.twocl-right{
  height: 540px;
  width: 510px;
}

.twocl-left h6{
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0px 0px 4px;
}

.twocl-left h2{
  font-size: 60px;
  font-weight: 800;
  line-height: 1.05;
  vertical-align: baseline;
  margin: 0px 0px 40px;
  letter-spacing: -2px;
}

.twocl-left .desc{
  margin: 0px 0px 40px;
  line-height: 1.5;
  font-size: 26px;
}

.anchor{
  text-decoration: none;
  margin: auto 0px auto 24px;
  color: #0a6cff;
}

.anchor:hover{
  text-decoration: underline;
}

.test{
  display: flex;
  flex-direction: column;
}

.footer-col-heading :hover{
  cursor: pointer;
}